body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

h1 {
    color: red;
}

#firstBlock {
    display: flex;
    flex-wrap: wrap;
}

#etatCivil {
    min-width: 40%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.etatCivilContainer {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
}

.title {
    background-color: aliceblue;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splitItems {
    display: flex;
    flex-wrap: nowrap;
}

#caracteristiques {
    min-width: 30%;
    display: flex;
    flex-direction: column;
}

.caracContainer {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.caracFirstBlock {
    display: flex;
    flex-direction: column;
}
.caracSecondBlock {
    display: flex;
    flex-direction: column;
}

.caracteristique {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 150px;
    margin: 5px 0 5px 0;
}

.caracLabel {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caracBlockContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caracBlock {
    background-color: aliceblue;
    width: 60px;
    height: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "bigCaracBlock upperCaracBlock"
        "bigCaracBlock underCaracBlock";
}

.bigCaracBlock {
    grid-area: bigCaracBlock;
}

.upperCaracBlock {
    grid-area: upperCaracBlock;
}

.underCaracBlock {
    grid-area: underCaracBlock;
}

.caracBlockItem {
    align-self: stretch;
    justify-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    border: thin solid black;
}

#header {
    min-width: 30%;
    display: flex;
    flex-direction: column;
}

.headerDetails {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.posterContainer {
    width: 50%;
    display: flex;
    justify-content: center;
}

.poster {
    width: 150px;
    height: 200px;
    background-color: red;
}




/**
    SECOND BLOCK
 */
#secondBlock {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
            "lifePoints mentalHealth"
            "magicPoints mentalHealth"
            "chance chance";
}

#lifePoints {
    grid-area: lifePoints;
}

#magicPoints {
    grid-area: magicPoints;
}

#mentalHealth {
    grid-area: mentalHealth;
}

#chance {
    grid-area: chance;
}

.pointsDetails {
    display: flex;
    justify-content: space-around;
}

.pointsLabel {
    font-weight: bold;
}

.pointsStatus {
    font-style: italic;
}

.competencesHeader {
    display: flex;
    justify-content: center;
}

.competences {
    display: flex;
}

.competencesColumn {
    flex-grow: 1;
}

.competence {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.round {
    width: 10px;
    height: 10px;
    border: thin solid black;
    border-radius: 50%;
}

.competenceLabel {
    flex-grow: 1;
}

.competenceBlock {
    display: flex;
    flex-wrap: nowrap;
}

.competenceSquare {
    border: thin solid black;
    width: 15px;
    height: 20px;
}